<div layout="column" layout-xs="column" layout-margin>
    <div flex>&nbsp;</div>
    <div flex>
        <div layout="row">
            <div flex="22">&nbsp;</div>
            <div flex>
                <form id="loginForm" name="loginForm" ng-submit="Auth.login(Auth.account)">
                    <legend>Log in</legend>
                    <hr>
                    <md-input-container class="md-block">
                        <label>Username</label>
                        <input required name="username" ng-model="Auth.account.username">
                        <div ng-messages="loginForm.username.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input type="password" required name="password" ng-model="Auth.account.password">
                        <div ng-messages="loginForm.password.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                    <md-button type="submit" class="md-raised">Access</md-button>
                    Forgot your username or password?
                </form>
            </div>
            <div flex="22">&nbsp;</div>
        </div>
    </div>
    <div flex>&nbsp;</div>
</div>